VisualizeApp/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.MethodProfiler" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.MethodProfiler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMethodProfile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MethodProfile" nillable="true" type="tns:MethodProfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMethodProfile" nillable="true" type="tns:ArrayOfMethodProfile" />
  <xs:complexType name="MethodProfile">
    <xs:sequence>
      <xs:element name="_x003C_CallCount_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_MemoryUsage_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_MethodName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TotalExecutionTime_x003E_k__BackingField" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MethodProfile" nillable="true" type="tns:MethodProfile" />
</xs:schema>