VisualizeApp/Connected Services/ServiceReference1/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLoad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Load" nillable="true" type="tns:Load" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoad" nillable="true" type="tns:ArrayOfLoad" />
  <xs:complexType name="Load">
    <xs:sequence>
      <xs:element minOccurs="0" name="ForecastValue" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MeasuredValue" type="xs:double" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Load" nillable="true" type="tns:Load" />
  <xs:complexType name="ArrayOfAudit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Audit" nillable="true" type="tns:Audit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAudit" nillable="true" type="tns:ArrayOfAudit" />
  <xs:complexType name="Audit">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" type="tns:AuditType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Audit" nillable="true" type="tns:Audit" />
  <xs:simpleType name="AuditType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Info" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AuditType" nillable="true" type="tns:AuditType" />
</xs:schema>